*
    margin: 0%
    padding: 0%
    box-sizing: border-box


.word-top
    background-color: #037362
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    color: #fffafa
    margin: none
    padding: 18px
    display: flex
    justify-content: space-between
    box-shadow: 0px 5px 5px rgba(0,0,0, .5)


.word-top img
    border-radius: 50%


.primary-nav a
    color: #037362
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold
    font-size: 18px
    margin: none
    padding: 12px
    text-decoration: none
    border-radius: 6px
    transition: .5s
    transition-timing-function: ease-in-out


a:hover
    color: #fffafa
    background-color: #037362
    border-radius: 6px
    transition: background-color 0.3s
    box-shadow: 0px 5px 5px rgba(0,0,0, .3)


nav.primary-nav
    text-align: center
    margin: none
    padding: 20px
    display: flex
    justify-content: space-around
    flex-wrap: wrap


.order-box
    text-align: center
    border: 1px solid #037362
    border-right: none
    border-left: none
    padding: 12px
    height: auto
    /* border-radius: 12px */


.order
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    margin: 12px
    margin-top: 40px
    padding: 10px
    border: 5px solid #037362
    height: 210px
    width: 210px
    border-radius: 12px
    box-shadow: 3px 3px 5px black


.order h3
    background-color: #037362
    padding: none
    margin: none
    color: #fffafa
    border-radius: 5px
    box-shadow: 3px 3px 5px black


img .card-img
  height: 200px!important

