* {
    padding: 0;
    margin: 0;
}

/** Opening **/

.intro {
  color: #fff;
}

.error {
  margin-top: 45px;
}

.wavefooter, .waveheader {
  margin-left: 30px;
  margin-top: 18px;
}

.waveheader {
  margin-top: 0;
}

/** Layout **/
.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
}

.column-left {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.column-right {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;

}

/** Styling **/
.sidebar {
    position: sticky;
    background-color: #005858;
    border-right: 1px solid #eee;
}

.page-logo>img {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    /* border-radius: 50%; */
}

.primary-nav>ul {
    width: 100%;
    height: auto;
    display: block;
    list-style: none;
}

.primary-nav>ul>li {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 5px 0;
    font-weight: 200;
}

.primary-nav>ul>li>a {
    font-family: "Ubuntu";
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 3px;
}

.primary-nav>ul>li>a:hover {
    font-size: 1.3rem;
    transition: font-size 0.2s;
    border-bottom: none;
    box-shadow: 1px 1px 1px #2b2b2b;
    background: #ffffff;
    color: #005858;
    border-radius: 10px;
}

.page-body {
    background-color: white;
    padding: 0 20px;
    box-sizing: border-box;

}

.page-content {
    width: 60%;
    margin: auto;
    text-align: center;
}

article {
  padding: 3rem 3rem;
}

article p {
  color: #005858;
  font-weight: 600;
}

.customer-form {
  background-color: rgba(233, 233, 233, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 5px 7px #eee;
}

.form-group {
    margin-bottom: 40px;
    color: #2b2b2b;
    font-family: Ubuntu;
    color: #005858;
    padding: 10px
}

.form-group input{
  background-color: transparent;
  width: 100%;
  padding: 10px;
}

.form-group textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-group>label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.form-group>[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 300;
    color: #005858;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
}

.form-group>[type="text"]:focus {
    color: #005858;
    border: none;
    border-bottom: 2px solid #005858;
    /* transition: border 0.5s; */
}

.form-group>select{
    background: white;
    border: 1px solid #bdbdbd;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 10px;
    color: #005858;
}

.form-group>[type="radio"]{
    margin-top: 0.2rem;
    color: #005858;
}

.form-group>textarea{
    color: #005858;
}

.form-group>[type="submit"]{
    width: 50%;
    color: #fffafa;
    background: #005858;
    border-radius: 10px;
    font-family: ubuntu;
    border: none;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.form-group>[type="submit"]:hover{
    background: #064b4b;
    cursor: pointer;
}

.form-group>[type="tel"]{
    color: #005858;
    border: none;
    border-bottom: 1px solid #005858;
}

.form-group>[type="date"]{
    color: #005858;
    border: none;
    border-bottom: 1px solid #005858;
}

.form-group>[type="time"]{
    color: #005858;
    border: none;
    border-bottom: 1px solid #005858;
}

.form-group>[type="color"]{
    color: #005858;
    border: none;
    padding: 0!important;
    border-radius: 5px;
}

.form-group>[type="file"]{
    color: #005858;
    border: none;
}

.navbar {
  background-color: #005858!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  box-shadow: 0 5px 7px rgba(51, 51, 51, .2);
}

.navbar ul li a {
  color: #fff;
  transition: .3s;
  position: relative;
  margin: auto 5px;
  padding: 17px 5px;
}

.navbar ul li a:hover {
  color: #005858;
}

.navbar ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  transition: .5s;
  z-index: -1;
}

.navbar ul li a:hover::before{
  height: 100%;
}

.navbar-toggler {
  border: 1px solid #fff!important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-toggler-icon {
  background-image: url('../images/toggler-menu.svg')!important;
  transform: rotate(180deg);
}

@media (max-width : 768px ) {
    .grid-container {
        grid-template-columns: 100%;
    }

    .column-left {
        height: auto;
    }

    .page-logo>img {
        margin-bottom: 10px;
    }

    .column-right {
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    article {
      padding: 20px 25px!important;
    }

    .error {
      margin-top: 20px;
      text-align: center!important;
    }
}
